$body-background-color: #161616;
$sidebar-color: #161616;
$border-color: $grey-dk-200;

$body-text-color: #bec0c7;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: $blue-000;
$btn-primary-color: $blue-200;
$base-button-color: #121212;

$code-background-color: #121212;
$search-background-color: #121212;
$table-background-color: #121212;
$feedback-color: darken($sidebar-color, 3%);
